@charset "UTF-8";
/* Em HTML é id = Em CSS é # (só pode 1 elemento)
Em HTML é class = Em CSS é . (pode vários elementos) */
body {
    background-color: rgb(195, 240, 195);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: green;
}
h1#principal {
    text-align: center;
    background-color: #008000;
    color: white;
}
h2 {
    color: rgb(28, 68, 28);
}
.basico {
    color: rgb(28, 68, 28);
}
.intermediario {
    color: rgb(126, 136, 32);
}
.avancado {
    color: rgb(139, 66, 24);
}
.destaque {
    background-color: rgba(250, 250, 52, 0.425);
}