@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
}
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    color: white;
    padding: 10px;
}
header > h1 {
    flex: 0 0 200px;
    /* border: 1px dashed black; */
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
}
header > nav {
    display: flex;
    flex-flow: row wrap;
    /* border: 1px dashed black; */
}
header > nav > a {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
header > nav > a:hover {
    background-color: white;
    color: black;
    transition: background-color 0.4s;
}
main {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}