@charset "UTF-8";
div.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
div.caixa1 {
    background-color: red;
    grid-area: 1 / 1 / span 1 / span 4;
}
div.caixa2 {
    background-color: green;
    grid-area: 2 / 1 / span 2 / span 2;
}
div.caixa3 {
    background-color: blue;
    grid-area: 2 / 3 / span 2 / span 2;
}