@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div.container {
    display: grid;
    grid-template: 100px 50px 1fr 100px / 1fr 200px;
    height: 100vh;
    gap: 5px;
}
.caixa {
    border: 2px dotted black;
    padding: 10px;
    text-align: center;
}
header.caixa#topo {
    background-color: lightpink;
    /* grid-area: 1 / 1 / 2 / 3; */
    grid-area: 1 / 1 / 2 / span 2;
}
nav.caixa#menu {
    background-color: lightgreen;
    /* grid-area: 2 / 1 / 3 / 3; */
    grid-area: 2 / 1 / 3 / span 2;
}
main.caixa#principal {
    background-color: lightsalmon;
    /* grid-area: 3 / 1 / 4 / 2; */
    grid-area: 3 / 1 / -2 / -2;
}
aside.caixa#secundario {
    background-color: lightgoldenrodyellow;
    /* grid-area: 3 / 2 / 4 / 3; */
    grid-area: 3 / -2 / -2 / -1;
}
footer.caixa#rodape {
    background-color: lightblue;
    /* grid-area: 4 / 1 / 5 / 3; */
    grid-area: -2 / 1 / -1 / span 2;
}