@charset "UTF-8";
/* Configurações gerais */
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    height: 100vh;
    width: 100vw;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
}
h1 {
    color: white;
    text-shadow: 2px 2px 0px #111f83;
    padding: 10px;
}