@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}
body {
    background-image: linear-gradient(to right, #f1ad94, #f1db96);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #9e716175;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #ff5832;
    text-align: center;
    text-shadow: 1px 1px 2px #6320139a;
}
h2 {
    color: #025159;
}
p {
    text-align: justify;
}